JupyterLab allows writing SQL query directly in-cell, thanks to the `%sparksql` magic command (use two percent signs `%%sparksql` to span code in multiple lines). An amazing feature is that PySpark can also interacts with this enviroment. This means all local files can be read as Hive tables.

In [1]:
import findspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').enableHiveSupport().getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark.conf.set('spark.sql.repl.eagerEval.truncate', 80)
spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 20)

import pyspark.sql.functions as F
import pyspark.sql.types as T

In [2]:
%load_ext sparksql_magic

In [3]:
%config SparkSql.limit=20

# 1. Managing tables

## 1.1. Creating tables

#### Manually creating tables

In [7]:
%%sparksql

CREATE EXTERNAL TABLE IF NOT EXISTS tbl_product
STORED AS PARQUET
LOCATION 'spark_db/tbl_product'
TBLPROPERTIES ('parquet.compression'='snappy')

SELECT *
FROM VALUES
    ('Laptop', 1000, 15),
    ('Mouse', 20, 100),
    ('Headphone', 50, 50),
    ('USB', NULL, 100)
AS (product, price, stock)

#### Metadata

|Statement|Usage|
|:--|:--|
|`DESC <table_name>`|Show columns and comments of a table|
|`DESC FORMATTED <table_name>`|Show detailed information of a table|
|`SHOW CREATE TABLE <table_name>`|Get the script that created the table|
|`DROP TABLE IF EXISTS <table_name>`|Drop a table|
|`SHOW DATABASES`|Show all available databases|
|`DESC DATABASE EXTENDED <database_name>`|Show information about a database|
|`USE <database_name>`|Enter a specific database|
|`SHOW TABLES`|Show all available tables and view|
|`SHOW TABLES LIKE <pattern>`| Show all tables having a specific pattern in their name|

In [8]:
%%sparksql

DESC tbl_product

In [9]:
%%sparksql

SHOW TABLES LIKE '*product*'

In [10]:
%%sparksql

ALTER TABLE tbl_product SET TBLPROPERTIES('external'='false', 'auto.purge'='true')

In [11]:
%%sparksql

DROP TABLE IF EXISTS tbl_product

#### Partitioning
A unique feature of SparkSQL is organizing tables in partitions, which helps achieve more parallelism. A categorical column or two may be used as partition columns. Data can be inserted to a partition using `INSERT INTO TABLE` or `INSERT OVERWRITE TABLE`.

In [10]:
%%sparksql

CREATE TABLE IF NOT EXISTS tbl_product (
    product STRING COMMENT 'name of product',
    price INT COMMENT 'price of product',
    stock INT COMMENT 'number of products left'
)
PARTITIONED BY (day STRING COMMENT 'day', hour STRING COMMENT 'hour')
STORED AS PARQUET
LOCATION 'spark_db/tbl_product'
TBLPROPERTIES ('parquet.compression'='snappy')

In [11]:
%%sparksql

INSERT OVERWRITE TABLE tbl_product
PARTITION (day=20210725, hour=14)
VALUES
    ('Laptop', 1000, 25),
    ('Mouse', 30, 100),
    ('Headphone', 50, 50)

In [12]:
%%sparksql

INSERT INTO TABLE tbl_product
PARTITION (day=20210725, hour=21)
VALUES
    ('Laptop', 1000, 20),
    ('Mouse', 20, 97),
    ('Headphone', 65, 12)

In [13]:
%%sparksql

SHOW PARTITIONS tbl_product

In [14]:
%%sparksql

ALTER TABLE tbl_product DROP IF EXISTS PARTITION (day=20210725)

## 1.2. Importing local files

In [9]:
df = spark.read.csv('data/youtube_trending.csv', header=True, inferSchema=True)

df\
    .write.format('parquet')\
    .option('compression', 'snappy')\
    .mode('overwrite').saveAsTable('tbl_youtube')

In [10]:
%%sparksql

SELECT * FROM tbl_youtube LIMIT 5

## 1.3. Hive data types

|Data type|Types|Range
|:--|:--|:--
|Numeric|`TINYINT`|1-byte signed integer, from -128 to 127
||`SMALLINT`|2-byte signed integer, from -32,768 to 32,767
||`INTEGER`|4-byte signed integer, from -2,147,483,648 to 2,147,483,647
||`BIGINT`|8-byte signed integer, from -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807
||`FLOAT`|4-byte single precision floating point number
||`DOUBLE`|8-byte double precision floating point number
||`DECIMAL`|a precision of 38 digits
||`NUMERIC`|same as `DECIMAL`, starting with Hive 3.0.0
|String|`VARCHAR`|Only available starting with Hive 0.12.0
||`CHAR`|Only available starting with Hive 0.13.0
|Datetime|`TIMESTAMP`|
||`DATE`|
||`INTERVAL`|
|Misc|`BOOLEAN`|
||`BINARY`|
|Complex|`ARRAY`|
||`MAP`|
||`STRUCT`|
||`UNIONTYPE`|

In [13]:
%%sparksql

SELECT * FROM tbl_youtube LIMIT 3

In [11]:
%%sparksql

DESC tbl_youtube

In Hive, using `CAST` function to convert between data types.

In [34]:
%%sparksql

SELECT  category_id, views, comments_disabled,
        CAST(category_id AS FLOAT) AS float_cat_id,
        CAST(views AS BIGINT) AS bigint_views,
        CAST(trending_date AS DATE) AS date,
        CAST(comments_disabled AS INT) AS int_comments_disabled
FROM tbl_youtube LIMIT 3

With datetime, we can user both `CAST` or `DATE`/`TO_DATE` to convert string to datetime. Different between date and to_date is `date` can only user with format *yyyy-MM-dd* but `to_date` can add format parameter to fit with the input

*All the datetime functions in hive:* [Datetime functions](https://sparkbyexamples.com/apache-hive/hive-date-and-timestamp-functions-examples/)

In [87]:
%%sparksql

SELECT  CAST('2021-08-10' AS DATE) date,
        DATE('2021/08/10') date1,
        TO_DATE('2021/08/10', 'yyyy/MM/dd') as date2,
        CAST(date_format(current_date(),'yyyy-MM-dd') as date) today,
        DATE(now()) as today1

In [59]:
%%sparksql

SELECT  publish_time,
        UNIX_TIMESTAMP(publish_time) AS unix_publish_time,
        FROM_UNIXTIME(UNIX_TIMESTAMP(publish_time),'yyyy/MM/dd HH.mm.ss') AS convert_publish_time
FROM tbl_youtube LIMIT 3

In [83]:
%%sparksql

SELECT  current_date() + interval '1' day AS tomorrow,
        current_date() + interval '2' days AS two_days_ago,
        current_date() + interval '1' week AS next_week,
        current_date() - interval '2' months AS two_months_ago,
        current_timestamp() - interval '2' hours AS two_hours_ago

In [107]:
%%sparksql

SELECT  publish_time,
        DATE(publish_time) AS publish_date,
        YEAR(publish_time) AS publish_year,
        MONTH(publish_time) AS publish_month,
        WEEKOFYEAR(publish_time) AS publish_week,
        QUARTER(publish_time) AS publish_quarter,
        HOUR(publish_time) AS publish_hour,
        TRUNC(CAST(publish_time AS STRING), 'MM') AS publish_firstday_of_month,
        EXTRACT(dayofweek from publish_time) AS publish_dayofweek,
        DATE_FORMAT(publish_time, 'dd.MM.yyyy') AS publish_date_format

FROM tbl_youtube
LIMIT 3

In [106]:
%%sparksql

SELECT  publish_time, trending_date,
        DATE_ADD(publish_time, 2) AS date_add,
        DATEDIFF(trending_date, publish_time) AS date_diff
FROM tbl_youtube
LIMIT 3

## 1.4. Aliases

Alias has been used when name of column or table is too long to use it mutiple times

In [114]:
df = spark.read.csv('data/youtube_category.csv', header=True, inferSchema=True)

df\
    .write.format('parquet')\
    .option('compression', 'snappy')\
    .mode('overwrite').saveAsTable('tbl_youtube_category')

In [125]:
%%sparksql

SELECT  category_id AS id,
        category_name AS name
FROM tbl_youtube_category LIMIT 5

In [127]:
%%sparksql

SELECT  ytb.video_id, 
        ytb.category_id,
        ytb.publish_time,
        ytb.likes, 
        ytb.views, 
        cat.category_name 
FROM tbl_youtube AS ytb
LEFT JOIN tbl_youtube_category AS cat
ON ytb.category_id = cat.category_id
AND ytb.publish_time >= '2017-11-12'
LIMIT 5

# 2. Data manipulation

## 2.1. Filtering

Filtering in SQL come with `WHERE` statement. With number or datetime, use `>,=,<` as normal, with string type, some commond function are `RLIKE`,`LIKE`,`IN`,`IS NULL`.
When using multi condition with `AND`, `OR`, we should group statement `OR` with brackets to clear the query

In [138]:
df = spark.read.csv('data/supermarket_sales.csv', header=True, inferSchema=True)

df\
    .write.format('parquet')\
    .option('compression', 'snappy')\
    .mode('overwrite').saveAsTable('tbl_supermarket')

In [169]:
%%sparksql

SELECT * FROM tbl_supermarket 
WHERE quantity >= 5 AND quantity <= 9
LIMIT 3

In [175]:
%%sparksql

SELECT * FROM tbl_supermarket 
WHERE date > '3/15/2019' 
LIMIT 3

In [176]:
%%sparksql

SELECT * FROM tbl_supermarket 
WHERE payment = 'Cash' AND rating > 5
LIMIT 3

In [143]:
%%sparksql

SELECT * FROM tbl_supermarket 
WHERE payment = 'Cash' AND (city = 'Yangon' OR city = 'Mandalay')
LIMIT 3

In [144]:
%%sparksql

SELECT * FROM tbl_supermarket
WHERE product_line IS NULL

In [151]:
%%sparksql

SELECT * FROM tbl_supermarket
WHERE brand IN ('A','C') AND product_line LIKE '%beauty'
LIMIT 5

In [164]:
%%sparksql

SELECT * FROM tbl_supermarket
WHERE brand NOT IN ('A','C') AND product_line RLIKE ('accessories|travel')
LIMIT 5

## 2.2. Aggregating

```sql
GROUP BY: COUNT(*), COUNT(DISTINCT), COUNT(CASE WHEN), SUM, SUM(DISTINCT), AVG, AVG(DISTINCT), MIN, MAX, VAR_POP, STDDEV_POP, PERCENTILE
```

*Reference: [Apache Hive - Aggregate functions](https://cwiki.apache.org/confluence/display/hive/languagemanual+udf#LanguageManualUDF-Built-inAggregateFunctions(UDAF))*

In [178]:
%%sparksql

SELECT * from tbl_supermarket LIMIT 3

In [186]:
%%sparksql

SELECT COUNT(*) FROM tbl_supermarket

In [185]:
%%sparksql

SELECT  brand, 
        ROUND(SUM(profit),2) total_profit, 
        COUNT(invoice_id) total_invoice,
        COUNT(DISTINCT product_line) num_product_line,
        AVG(unit_price) avg_price,
        MIN(tax) min_tax,
        MAX(tax) max_tax
FROM tbl_supermarket 
GROUP BY brand

In [189]:
%%sparksql

SELECT  brand, city, 
        SUM(CASE WHEN customer_type = 'Member' THEN profit ELSE 0 END) member_profit,
        SUM(CASE WHEN customer_type = 'Normal' THEN profit ELSE 0 END) normal_profit
FROM tbl_supermarket
GROUP BY brand, city

In [206]:
%%sparksql

SELECT  product_line, 
        ROUND(VAR_POP(unit_price),2) price_var_pop, 
        ROUND(VARIANCE(unit_price),2) price_var_samp,
        ROUND(STDDEV_POP(unit_price),2) price_std,
        ROUND(PERCENTILE(unit_price,0.5),2) price_median
FROM tbl_supermarket
GROUP BY product_line

## 2.3. Window functions

- Windows functions: ROW_NUMBER, RANK, DENSE_RANK, NTILE,... (same as in pyspark)
- Special uses of SUM, COUNT (with or without PARTITION BY)
- ROW|RANGE BETWEEN, UNBOUNDED, PRECEDING, CURRENT_ROW,...

*Reference: [Apache Hive - Window functions](https://cwiki.apache.org/confluence/display/hive/languagemanual+windowingandanalytics)*

In [239]:
%%sparksql

SELECT * FROM tbl_supermarket LIMIT 3

In [236]:
%%sparksql

SELECT *, 
    ROW_NUMBER() OVER(PARTITION BY(brand) ORDER BY(total_profit) DESC) AS row_num,
    RANK() OVER(ORDER BY(total_profit) DESC) AS rank,
    DENSE_RANK() OVER(ORDER BY(total_profit) DESC) AS dense_rank,
    NTILE(4) OVER(ORDER BY(total_profit) DESC) AS ntile
FROM
(SELECT brand, product_line, SUM(profit) total_profit 
FROM tbl_supermarket
GROUP BY brand, product_line)

In [260]:
%%sparksql

SELECT  invoice_id, brand, city, 
        COUNT(invoice_id) OVER(PARTITION BY (city)) AS total_invoice,
        SUM(quantity) OVER(PARTITION BY (city)) AS total_quantity
FROM tbl_supermarket
LIMIT 4

In [261]:
%%sparksql

SELECT city, COUNT(invoice_id) AS num_invoice
FROM tbl_supermarket
GROUP BY  city

In [265]:
%%sparksql

SELECT *, 
SUM(quantity) OVER (PARTITION BY brand ORDER BY date ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) as test
FROM tbl_supermarket
LIMIT 5

## 2.4. Gathering data
- `JOIN`: cross, left, right, inner, outer
- `UNION`: all

In [10]:
%%sparksql

CREATE EXTERNAL TABLE IF NOT EXISTS tbl_user
STORED AS PARQUET
LOCATION 'tbl_user'
TBLPROPERTIES ('parquet.compression'='snappy')

SELECT *
FROM VALUES
    (1, 'Jane', NULL),
    (2, 'Alex', 25),
    (3, 'Mary', 21),
    (4, NULL, 20)
AS (userid, name, age)

In [30]:
%%sparksql

CREATE EXTERNAL TABLE IF NOT EXISTS tbl_sale
STORED AS PARQUET
LOCATION 'tbl_sale'
TBLPROPERTIES ('parquet.compression'='snappy')

SELECT *
FROM VALUES
    (1, 1000, 2, 5),
    (2, 2560, 5, 10),
    (3, 1400, 1, 15),
    (5, 3214, 3, 0)
AS (userid, sale, quantity, shipping_fee)

In [37]:
%%sparksql

CREATE EXTERNAL TABLE IF NOT EXISTS tbl_user_append
STORED AS PARQUET
LOCATION 'tbl_user_append'
TBLPROPERTIES ('parquet.compression'='snappy')

SELECT *
FROM VALUES
    (5, 'Adam', 26),
    (6, 'Kayn', 25),
    (7, 'Kelly', 19),
    (8, 'Muoas', 20)
AS (userid, name, age)

In [31]:
%%sparksql

SELECT u.*, s.* FROM tbl_user u
LEFT JOIN tbl_sale s
ON u.userid = s.userid

In [32]:
%%sparksql

SELECT u.*, s.* FROM tbl_user u
INNER JOIN tbl_sale s
ON u.userid = s.userid

In [35]:
%%sparksql

SELECT u.*, s.* FROM tbl_user u
FULL OUTER JOIN tbl_sale s
ON u.userid = s.userid

In [40]:
%%sparksql

SELECT * FROM tbl_user 
UNION (SELECT * FROM tbl_user_append) 
ORDER BY userid

## 2.5. Order of execution
```sql
FROM -> JOIN [ON] -> WHERE -> GROUP BY -> HAVING -> SELECT -> ORDER BY -> LIMIT
```

In [53]:
%%sparksql

SELECT  category_name, 
        SUM(likes) total_like, 
        SUM(views) total_view 
FROM
    (SELECT  ytb.video_id, 
            ytb.category_id,
            ytb.publish_time,
            ytb.likes, 
            ytb.views, 
            cat.category_name 
    FROM tbl_youtube AS ytb
    LEFT JOIN tbl_youtube_category AS cat
    ON ytb.category_id = cat.category_id
    WHERE ytb.publish_time >= '2017-11-12')
    
GROUP BY category_name
HAVING total_like > 5e6
ORDER BY total_like DESC

## 2.6. Functions
```sql
PI, RAND, LOG, SQRT, POW/POWER, CONCAT, CONCAT_WS, NVL, NVL2, REGEXP_REPLACE, REGEXP_EXTRACT, SPLIT, GREATEST, LEAST, LOWER/UPPER, LENGTH, NULLIF, LPAD/RPAD, LTRIM/RTRIM/TRIM, SUBSTR/SUBSTRING, CASE WHEN
```

*Reference: [Apache Hive - Built-in functions](https://cwiki.apache.org/confluence/display/hive/languagemanual+udf#LanguageManualUDF-Built-inFunctions)*

#### Numeric functions

In [77]:
%%sparksql

SELECT  ROUND(PI(),4) AS pi,
        ROUND(LOG(2,10),2) AS log10,
        SQRT(25) AS sqrt,
        POW(10,2) AS pow

In [97]:
%%sparksql

SELECT  video_id, category_id, CONCAT(video_id,'-',category_id) AS newid,
        NVL(category_id, 0) AS category_id,
        LENGTH(channel_title) AS length_title,
        CASE WHEN likes <= 20000 THEN 'group 1'
             WHEN likes > 20000 AND likes < 30000 THEN 'group 2'
             ELSE 'group 3' END AS group_like
FROM tbl_youtube
LIMIT 5

#### Text functions

In [4]:
%%sparksql

CREATE EXTERNAL TABLE IF NOT EXISTS tbl_seafood
STORED AS PARQUET
LOCATION 'tbl_seafood'
TBLPROPERTIES ('parquet.compression'='snappy')

SELECT *
FROM VALUES
    ('2021-10-01', 'Shrimp, frozen, chem free', 26,'  usd/kg','54HPG', 'VN'),
    ('2021-10-02', 'FISH, fresh, chemical-free', 25,'USD  /KG','9BGG', 'US'),
    ('2021-10-03', 'Prawn, frz, chemical-free', 19, 'USD/ kg','23LSN', 'UK'),
    ('2021-10-04', 'CraB, Frozen, chem free', 20, 'USD / kg','001HNI', 'NZL')
AS (date, product, price, unit, code, country)

In [5]:
%%sparksql

SELECT * from tbl_seafood

In [59]:
%%sparksql

SELECT *, 
        LOWER(product_name) AS norm_name,
        REGEXP_REPLACE(LOWER(product_frz),'frz','frozen') AS norm_frz,
        CASE WHEN product_chem LIKE '%chem free%' 
             THEN 'chemical-free' 
             ELSE product_chem END AS norm_chem,
        SUBSTRING(norm_code,0,3) AS code_number,
        CONCAT(norm_code, '-', country) AS full_code,
        REGEXP_EXTRACT(norm_code, '[A-Z]+',0) AS code_location
FROM
    (SELECT *, 
            SPLIT(product,',')[0] AS product_name,
            SPLIT(product,',')[1] AS product_frz,
            SPLIT(product,',')[2] AS product_chem,
            LPAD(code,6,0) AS norm_code,
            REGEXP_REPLACE(UPPER(TRIM(unit)),' ','') AS norm_unit
    FROM tbl_seafood)

# 3. Data structures

## 3.1. Array type
- Definition: same as Numpy's array
- Schema: `ARRAY<STRING>`
- Inserting: `ARRAY('hung', 'linh',...)`
- Accessing: `A[1]`, start with 0
- Techniques:
    - Unpacking: `LATERAL VIEW, EXPLODE, POSEXPLODE, INLINE,...`
    - Higher order functions: `TRANSFORM, FILTER, EXISTS, AGGREGATE` ([read more](https://databricks.com/blog/2017/05/24/working-with-nested-data-using-higher-order-functions-in-sql-on-databricks.html))
    - Basic functions: `SIZE, ARRAY_CONTAINS, SORT_ARRAY, CONCAT_WS, SEQUENCE,...` (same as in pyspark)

##### Create array

In [4]:
%%sparksql

CREATE EXTERNAL TABLE IF NOT EXISTS tbl_movie
STORED AS PARQUET
LOCATION 'tbl_movie'
TBLPROPERTIES ('parquet.compression'='snappy')

SELECT *
FROM VALUES
    (1, 'Money heist', ARRAY('Monte','Corberó', 'Alonso'), 'criminal, sex, drama', 'Portuga', 4.8, 4.6),
    (2, 'Stranger thing', ARRAY('Finn','Millie','Noah'), 'horror, science, drama, thriller', 'US', 4.9, 4.5),
    (3, 'Hill house',  ARRAY('Victoria','Kate','Oliver'), 'horror, supernature','US', 4.7, 4.8),
    (4, 'Squid game', ARRAY('jung-jae','Gong yoo','Ha-joon'), NULL, 'Korea', 4.6, 4.6)
AS (id, name, actors, genre, country, idbm_rating, tomatoes_rating)

In [5]:
%%sparksql

DESC tbl_movie

In [6]:
%%sparksql
SELECT *, 
SPLIT(genre,',') AS group_genre, 
ARRAY(idbm_rating, tomatoes_rating) as rating
FROM tbl_movie

##### Array manipulation

In [7]:
%%sparksql
SELECT *, 
actors[0] AS first_actor, 
actors[1] AS second_actor,
SLICE(actors, 1,2) AS slice_array
FROM tbl_movie

In [8]:
%%sparksql
select * from tbl_movie LATERAL VIEW EXPLODE(actors) AS explode_actor LIMIT 3

In [9]:
%%sparksql
select *, EXPLODE(actors) AS explode_actor from tbl_movie LIMIT 3

In [10]:
%%sparksql
select *, POSEXPLODE(actors) AS (pos, name) from tbl_movie LIMIT 3

In [11]:
%%sparksql
select *, ARRAY_JOIN(actors, "; ") AS list_actors from tbl_movie

In [12]:
%%sparksql

SELECT *, 
FILTER(actors, x -> x like '%oo%') AS filter_array,
CONCAT(actors, FILTER(actors, x -> x like '%oo%')) AS concat_array,
ARRAY_INTERSECT(actors, FILTER(actors, x -> x like '%oo%')) AS intersect,
ARRAY_UNION(actors, FILTER(actors, x -> x like '%oo%')) AS union,
SHUFFLE(actors) AS shuffer,
ARRAY_SORT(actors) AS sorted_array,
ARRAY_MAX(actors) AS array_max,
ARRAY_MIN(actors) AS array_min,
ARRAY_DISTINCT(actors) AS distinct_array
FROM tbl_movie

In [30]:
%%sparksql

SELECT *,
TRANSFORM(actors, actors -> CONCAT(actors,'-ss1')) as actor_ss1,
EXISTS(actors, actors -> length(actors) > 7) as actor_filter
FROM tbl_movie

## 3.2. Struct type
- Definition: two or more arrays zipped together
- Schema: `ARRAY<STRUCT<id:INT, name:STRING, interest:STRING>>`
- Inserting: `ARRAY(STRUCT(0, 'hung', 'buom'), STRUCT(1, 'linh', 'chim'))`
- Accessing: `S.id, S.name, S.interest`
- Techniques: `ARRAYS_ZIP`

## 3.3. Map type
- Definition: same as Python's dict
- Schema: `MAP<STRING, STRING>`
- Inserting: `MAP('0', 'hung', '1', 'linh')`
- Accessing: `M['0']`
- Techniques:
    - `LATERAL VIEW, EXPLODE, POSEEXPLODE, INLINE,...`
    - `MAP_KEYS, MAP_VALUES, STR_TO_MAP`
    - `GET_JSON_OBJECT`